#door{
    
        height: 500px;
        width: 350px;
        margin: 0  auto auto 300px;
    
    
    
}

#doortext{
        font-size: 40px;
        line-height: 100%;
        font-family: 'Courier New', Courier, monospace;
    }