body{
    background-color: black;
}

.news{
    height: 550px;
    width: 400px;
    margin: 0 auto;
    float: left;
}

#input{
    margin-left: 270px;
    border-radius: .5em;

}

#oneletter{
    color: lightgrey;
    font-size: 50px;
    line-height: 100%;
    font-family: 'Courier New', Courier, monospace;

}

/* #one{
    margin-left: 500px;
    margin-top: 50px;
} */
