#secretdoor{
    height: 500px;
    width: 500px;
    margin-left: 30px;
}                                                                                

#secretdoortext{
    font-size: 40px;
    line-height: 100%;
    font-family: 'Courier New', Courier, monospace;
}