#haunted{
    
        height: 500px;
        width: 450px;
        margin: 0  auto auto 300px;
    
    
    
}

#hauntedtext{
        font-size: 40px;
        line-height: 100%;
        font-family: 'Courier New', Courier, monospace;
    }